/* Base Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
    text-align: center;
}

/* Container */
.container {
    padding: 20px;
    width: 90%;
    max-width: 500px;
}

/* Header Styles */
.main-header {
    font-size: 3rem;
    color: #333333;
    margin-bottom: 10px;
}

/* GIF Container */
.gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

/* GIF Image */
.gif-container img {
    max-width: 100%;
    height: 30vh;
}

/* Sub-header */
.sub-header {
    font-size: 1.8rem;
    color: #555555;
    margin-bottom: 10px;
}

/* Buttons Container */
.button-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 10px;
}

/* Buttons Styling */
button-container button {
    width: 200px;
    font-size: 1.2rem;
    padding: 19px 20px;
    margin: 0px;
    background-color: #bc94ce;
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.button-container button:hover {
    background-color: #000000ea;
    transform: scale(1.05);
}
/* Responsive Adjustments */
@media (max-width: 600px) {
    .main-header {
        font-size: 2.5rem;
    }

    .sub-header {
        font-size: 1.5rem;
    }

    button {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
}
